{% extends 'simple.html' %}
{% block title %}Potwierdzenie usunięcia{% endblock %}
{% block content %}
    <div class="container--90">
        <div class="slogan--item">
            <form method="post">{% csrf_token %}
                <table align="center">
                    <tr>
                        <td colspan="2"><h2>Czy chcesz usunąć organizację "{{ object.charity_name }}"?</h2></td>
                    </tr>
                    <tr>
                        <td align="center"><input type="submit" class="btn btn--large" value="Tak"></td>
                        <td align="center"><a href="{% url 'charity_list' %}" class="btn btn--large">Nie</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
