{% extends 'simple.html' %}
{% block title %}Organizacje charytatywne{% endblock %}
{% block content %}
    <div class="slogan container container--90">
        <div class="slogan--item" align="center">
            <h2>Organizacje charytatywne: </h2>
            <div align="right">
                <a href="{% url 'add_charity' %}" class="btn btn--without-border">Dodaj organizację</a>
            </div>
            </div>
            <table style="font-size: large; table-layout: auto; width: 100%; border: black">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa organizacji</th>
                        <th>Dla kogo kierują pomoc</th>
                        <th>Lokalizacja</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for charity in charity_list %}
                    <tr>
                        <td>{{ charity.id }}</td>
                        <td>{{ charity.charity_name }}</td>
                        <td>
                            {% for item in charity.help.all %}
                                {{ item.for_who }},
                            {% endfor %}
                        </td>
                        <td>{{ charity.get_location_display }}</td>
                        <td>
                            <a href="{% url 'delete_charity' pk=charity.pk %}" class="btn btn--without-border">Usuń</a>
                            <a href="{% url 'update_charity' pk=charity.pk %}" class="btn btn--without-border">Modyfikuj</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}